-var titulo = "Titulo principal";
-var subtitulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Sergio"
-var enlaces = ["Acerca", "Noticias", "Contacto"]
mixin caja(imagen,titulo,contenido)
    .caja
        .caja__imagen: img(src="images/"+imagen, alt="Imagen de prueba")
        .caja__contenido
            h3=titulo
            p=contenido